<div class="taskContainer">
  <h2>{{ tasks.length === 0 ? "Create New Task" : "Add New Task" }}</h2>
  <div *ngFor="let task of tasks; let i = index">
    <h3
      (click)="finishTask(task)"
      [ngClass]="{ isFinished: task.isFinished ? true : false }"
    >
      {{ task.name }}
    </h3>
    <div class="btns">
      <button
        class="btn btn-edit bi bi-pencil-square"
        (click)="onEditTask(task)"
      ></button>
      <button
        class="btn btn-rem bi bi-x-square"
        (click)="onDelete(i, task)"
      ></button>
    </div>
  </div>
  <button class="btn btn-logout bi bi-box-arrow" (click)="onLogOut()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-box-arrow-left"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"
      />
      <path
        fill-rule="evenodd"
        d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"
      />
    </svg>
  </button>
  <button class="btn btn-add bi bi-plus-square" (click)="onAddTask()"></button>
</div>
<router-outlet></router-outlet>
